<!doctype html>
<head>
    <title>Authentication module</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="undefined" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <form action="{{ URL }}" enctype="multipart/form-data" method="post">
            <input accept="image/*;capture=camera" id="selected-image" name="image" onchange="readURL(this);"
                   type="file">
            <input name="username" type="text"/>
            <input type="submit"/>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img alt="Captured image" id="img" src="#"/>
        </div>
    </div>
</div>
</body>
<script crossOrigin="anonymous"
        integrity="undefined" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<script
        crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                $('#img').show();
                $('#img')
                    .attr('src', e.target.result)
                    .width(500);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").hide()
</script>
